<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>立命祭2019来校者アンケート</title>
  <!--<link rel="stylesheet" href="/assets/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="/assets/css/count.css">
</head>
<body>
  <h1>立命祭2019来校者アンケート</h1>
  <h2>本日の立命祭2019はいかがでしたか？</h2>
  <div class="boxContainer">
    <div class="box">
      <form action="/eplus" method="post">
      <input type="image" src="assets/img/excellent.png">
    </form>
    </div>
    <div class="box">
      <form action="/vplus" method="post">
      <input type="image" src="assets/img/verygood.png">
      </form>
    </div>
    <div class="box">
      <form action="/gplus" method="post">
      <input type="image" src="assets/img/good.png">
      </form>
    </div>
    <div class="box">
      <form action="/aplus" method="post">
      <input type="image" src="assets/img/average.png">
      </form>
    </div>
    <div class="box">
      <form action="/pplus" method="post">
      <input type="image" src="assets/img/poor.png">
      </form>
    </div>
  </div>
  <p>上のどれか１つのボタンを押してください</p>
  <br><br><br>
  <footer>
    <p>&copy; Ritsumeikan Junior &amp; Senior High School. All rights reserved.</p>
  </footer>
</body>
</html>
