<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>立命祭2019来校者アンケート</title>
  <!--<link rel="stylesheet" href="/assets/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="/assets/css/count.css">
  <script language="JavaScript">
            //指定のページに移動
    function loc() {
        window.location = "/";
    }
            //タイマーをセット
    function tm(){
        tm = setTimeout("loc()",3000);
    }
    </script>
</head>
<body onLoad="tm()">
  <h1>立命祭2019来校者アンケート</h1>
  <h2>ご協力ありがとうございました！<br>お気をつけてお帰りください</h2>
  <img src="assets/img/ojigi.png">
  <p>このページは数秒後に遷移します</p>
  <br>
  <footer>
    <p>&copy; Ritsumeikan Junior &amp; Senior High School. All rights reserved.</p>
  </footer>
</body>
</html>
